
<section class="store-container">
    <div class="product-top">
        <div class="product-img">
            <img ng-src="{{ $ctrl.jackets.imageUrl }}" alt="{{ $ctrl.jackets.id }}">
        </div>
        <div class="right-container">
            <img ng-src="{{ $ctrl.jackets.logo }}"/>
            <p>{{ $ctrl.jackets.name }}</p>
            <p class="sale">Sale {{ $ctrl.jackets.price }}</p>
            <div class="image-thumb-container">
                <img class="image-thumb" ng-repeat="imageThumb in $ctrl.jackets.imageThumb track by $index" ng-src="{{ $ctrl.jackets.imageThumb[$index] }}" />
            </div>
            <button>Add To Cart</button>
        </div>
    </div>
    <div class="product-bottom">
        <div class="description-container">
            <h3 class="desc-title">{{ $ctrl.jackets.descTitle }}</h3>
            <p class="description">{{ $ctrl.jackets.description }}</p>
            <ul class="desc-list">
                <li ng-repeat="list in $ctrl.jackets.listDescription">{{ list }}</li>
            </ul>
        </div>
        <div class="tech-specs-container">
            <div class="tech-left">
                <div class="row">
                    <p class="heading">Material</p>
                    <p class="info">{{ $ctrl.jackets.techSpecs.material }}</p>
                </div>
                <div class="row">
                    <p class="heading">Insulation</p>
                    <p class="info">{{ $ctrl.jackets.techSpecs.insulation }}</p>
                </div>
                <div class="row">
                    <p class="heading">Fit</p>
                    <p class="info">{{ $ctrl.jackets.techSpecs.fit }}</p>
                </div>
                <div class="row">
                    <p class="heading">Length</p>
                    <p class="info">{{ $ctrl.jackets.techSpecs.length }}</p>
                </div>
            </div>
            <div class="tech-right">
                <div class="row">
                    <p class="heading">Hood</p>
                    <p class="info">{{ $ctrl.jackets.techSpecs.hood }}</p>
                </div>
                <div class="row">
                    <p class="heading">Pockets</p>
                    <p class="info">{{ $ctrl.jackets.techSpecs.pockets }}</p>
                </div>
                <div class="row">
                    <p class="heading">Recommended Use</p>
                    <p class="info">{{ $ctrl.jackets.techSpecs.recommendedUse }}</p>
                </div>
            </div>
        </div>
    </div>


</section>
