<i class="material-icons login-triangle">change_history</i>
<h1 class="login-title">Konsumer</h1>
<div class="login-line"></div>
<section class="form-container">
    <form class="" action="" method="post">
        <h3 class="login-account">Create Your Account</h3>
        <div class="login-input-container">
            <i class="fa fa-user login-icons" aria-hidden="true"></i>
            <input type="text" name="username" value="" placeholder="Username">
        </div>
        <div class="login-input-container">
            <i class="fa fa-lock login-icons" aria-hidden="true"></i>
            <input type="password" name="password" value="" placeholder="Password">
        </div>
        <button type="submit" name="button">Sign Up</button>
    </form>
    <a href="/#!/login"><p>Back To Login</p></a>
</section>
