footer {
    min-height: 170px;
    background: black;
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        .copy {
            color: white;
        }
    }
    h1 {
        font-size: 1.5em;
        font-weight: 100;
        text-transform: uppercase;
        color: $olive;
    }
    .footer-logo {
        font-size: 30px;
    }
    p {
        color: #969696;
        margin-bottom: 8px;
    }

    .up-arrow {
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 50%;
    }
}
