footer {
    min-height: 170px;
    background: black;
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 40px 0;
    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        .copy {
            color: white;
        }
    }
    h1 {
        font-size: 1.5em;
        font-weight: 100;
        text-transform: uppercase;
        color: $olive;
    }
    .footer-logo {
        font-size: 40px;
    }
    p {
        color: #969696;
        margin-bottom: 8px;
    }

    .up-arrow {
        position: absolute;
        bottom: 15px;
        right: 15px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
        }
    }
}



@media(min-width: 1024px) {
    footer {
        min-height: 210px;
        h1 {
            font-size: 1.75em;
        }
        .footer-bottom {
            margin-bottom: 50px;
        }
    }
}
