.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 70px;
    background: $olive;
    .logo {
        width: 45px;
    }
}
