.store-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.store-container .product-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    .product-img,
    .right-container {
        width: 100%;
    }
    .product-img {
        order: 2;
    }
    .right-container {
        margin-bottom: 75px;
        margin-top: 30px;
        order: 1;
        img {
            margin-bottom: 15px;
        }
        p {
            font-size: 1.25em;
            margin-bottom: 10px;
        }
        .sale {
            color: $brickred;
        }
        .image-thumb {
            max-width: 25%;
        }
    }
    .product-img {
        img {
            min-width: 300px;
            max-width: 100%;
        }
    }
}

.store-container .product-bottom {
    .description-container {
        width: 100%;
        margin: 0 auto 100px;
        .description {
            margin-bottom: 40px;
            line-height: 1.5;
        }
    }
    .desc-title {
        font-size: 2em;
        text-align: center;
        margin-bottom: 40px;
    }
    .desc-list {
        margin-left: 30px;
        li {
            list-style-type: disc;
            margin-bottom: 15px;
        }
    }
}

.store-container .tech-specs-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto 100px;
    .row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid gainsboro;
        padding: 20px;
        .heading {
            margin-right: 15px;
        }
        .info {
            font-weight: 100;
            font-size: .85em;
            color: $gray;
        }
    }
    .tech-left,
    .tech-right {
        width: 100%;
        margin: 0 0px;
    }

}

@media screen and (min-width:650px){
    .store-container .product-top {
        flex-direction: row;
        .product-img {
            order: 1;
        }
        .right-container {
            width: 65%;
        }
    }
}
