.hero-image {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../../img/chris-biron-99839.jpg');
    background-size: cover;
    height: 450px;
    background-position: center;
    margin-bottom: 50px;
    margin-bottom: 40px;
    transition: .2s all ease;
}

.search-sort {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column-reverse;
    border-bottom: 1px solid $lightgray;
    transition: .2s all ease;
}

.sort-container {
    width: 85%;
    margin: 0 auto 30px;
    background: black;
    color: white;
    position: relative;
    border-radius: 2px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.sort-by {
    font-weight: 100;
    text-transform: uppercase;
    font-size: .75em;
}

.menu-carrot {
    text-align: right;
    display: inline-block;
    border-radius: 2px;
    position: absolute;
    right: 15px;
}

.sort-drop {
    display: none;
    background: $white;
    width: 100%;
    left: 0;
    padding: 10px;
    color: black;
    border: 1px solid black;
    position: absolute;
    top: 49px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
    li {
        margin-bottom: 8px;
        &:hover {
            color: $brickred;
            cursor: pointer;
        }
    }
}

.input-container {
    position: relative;
    width: 85%;
    margin: 0 auto 50px;
    input {
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid gainsboro;
        text-transform: uppercase;
        font-weight: 100;
    }
    input:focus {
        outline: none;
    }
    img {
        width: 25px;
        position: absolute;
        right: 13px;
        top: 13px;
    }
}

select.product-select {
    height: 30px;
}

.jackets-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    transition: all .2s ease;
    .shop-items-container {
        margin-bottom: 60px;
        text-align: center;
        border: none;
        padding: 10px;
        width: 100%;
        img {
            width: 100%;
            max-width: 575px;
        }
        .info-container {
            padding: 15px;
            h3 {
                margin-bottom: 5px;
            }
        }
    }
    .shop-items-container:hover {
        transition: transform .2s ease;
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0px 0px 10px $gray;

    }

}

.jackets-title {
    font-size: 2.75em;
    text-transform: uppercase;
    text-align: center;
    margin: 60px 0;
    font-weight: 100;
}

.jacket-list-item.ng-enter {
  opacity: 0;
  transform: translate3d(-100px,0,0);
}

.jacket-list-item.ng-enter-stagger,
.jacket-list-item.ng-leave-stagger {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration:0;
    transition-duration: 0;
}

.jacket-list-item.ng-enter,
.jacket-list-item.ng-leave {
  transition: 0.5s ease all;
}

.jacket-list-item.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.jacket-list-item.ng-leave {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.jacket-list-item.ng-leave.ng-leave-active {
  opacity: 0;
  transform: translate3d(-100px,0,0);
}




///////// MEDIA QUERIES /////////////////////

@media(min-width:630px){
    .jackets-container {
        flex-direction: row;
        justify-content: center;
    }

    .search-sort {
        display: flex;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        flex-direction: row;
    }
}

@media(min-width:768px){
    .sort-container {
        max-width: 575px;
    }
    .input-container {
        position: relative;
        max-width: 575px;
    }
    .jackets-container {
        .shop-items-container {
            width: 45%;
            margin: 0 2% 60px;
        }
    }

}

@media(min-width: 992px){
    .hero-image {
        height: 600px;
        background-position: center;
        background-position: 50% 95%;
    }
    .jackets-title {
        margin: 80px 0;
    }
}

@media(min-width:1024px){
    .jackets-container {
        .shop-items-container {
            width: 21%;
            margin: 0 1% 60px;
        }
    }

}
