.social-container {
    margin-bottom: 25px;
    i {
        color: $white;
        padding: 5px;
    }
}



@media(min-width: 992px) {
    .social-container {
        margin-bottom: 0px;
        position: absolute;
        left: 15px;
        bottom: 15px;
    }
}
