.title-bg {
    transition: .2s all ease;
    // BOTTOM PART OF THE CONTAINER
    .title-phrase {
        color: white;
        width: 65%;
        text-align: center;
        margin: 0 auto;
        font-style: italic;
        font-weight: 100;
        text-transform: uppercase;
        font-size: .9em;
        max-width: 500px;
    }
    .title-arrow {
        display: block;
        margin: 10px auto;
        color: white;
        font-size: 45px;
        width: 45px;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 50px;
    padding-top: 70px;
    width: 65%;
    max-width: 800px;
    margin: 0 auto 50px;
    transition: .2s all ease;
    .title-logo {
        color: $white;
        width: 65px;
        font-size: 65px;
    }
    .title-title {
        margin-bottom: 8px;
        font-size: 2.5em;
        font-weight: 100;
        text-transform: uppercase;
    }
    h5 {
        font-weight: 100;
        color: $brickred;
    }

}


@media(min-width: 768px) {
    .title-title {
        font-size: 2.75em;
    }
    .title-logo {
        font-size: 70px;
    }
}

@media(min-width: 992px) {
    .title-bg {
        .title-phrase {
            font-size: 1.125em;
        }
        .title-arrow {
            font-size: 55px;
            width: 55px;
        }
    }
    .title-container {
        padding-top: 100px;
        .title-logo {
            width: 85px;
            font-size: 85px;
        }
        .title-title {
            font-size: 3.125em;
        }
        h5 {
            font-size: 1.125em;
        }
    }

}
