<section class="reviews">
    <h3>Reviews.</h3>
    <form name=reviewForm>
        <select class="" name="Rating">
            <option value="1">1 stars</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
        </select>
        <textarea name="name" rows="4" cols="100" placeholder="Leave A Review"></textarea>
        <input type="email" placeholder="Email"/>
        <button type="submit" value="submit">Submit</button>
    </form>
    <blockquote ng-repeat="review in $ctrl.jackets.reviews">
        <b>Stars: {{ review.stars }}</b>
        {{ review.body }}
        <cite>By: {{ review.author }}</cite>
    </blockquote>
</section>
