// VARIABLES /////////////////
$europa: "europa", sans-serif;
$gray: #969696;
$black: #010101;

//////////////////////////////

html {
    font-family: $europa;
}

a {
    text-decoration: none;
    color: $black;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 100px;
    .logo {
        width: 45px;
    }
}
