// VARIABLES /////////////////
$europa: "europa", sans-serif;
$gray: #969696;
$black: #010101;
$brickred: #990000;
$olive: darkolivegreen;
$white: #fff;

//////////////////////////////

* {
    box-sizing: border-box;
}

html {
    font-family: $europa;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $black;
}

p {
    line-height: 1.5;
}

.wrapper {
    width: 95%;
    max-width: 1025px;
    margin: 0 auto;
}
