<nav class="main-nav-desktop">
    <div>
        <a href="#!/jackets" class="link">K</a>
    </div>
    <div class="nav-menu">
        <!-- MENU HOVER DIRECTIVE WITH JQUERY -->
        <li menu-hover>Jackets <i class="material-icons">keyboard_arrow_down</i></li>
            <div class="drop-container">
                <a href="#!/jackets/saga-puff-polly-combo-jacket"><li>Saga</li></a>
                <a href="#!/jackets/penfield-bowerbridge-down-jacket"><li>Penfield</li></a>
                <a href="#!/jackets/patagonia-wanaka-down-jacket"><li>Patagonia</li></a>
                <a href="#!/jackets/quiksilver-impact-2L-gore-tex-jacket"><li>QuickSilver</li></a>
                <a href="#!/jackets/fjallraven-greenland-no.-1-down-jacket"><li>Fjallraven</li></a>
                <a href="#!/jackets/salomon-qst-snow-jacket"><li>Salomon</li></a>
                <a href="#!/jackets/norr%C3%B8na-29-gore-tex-primaloft-insulated-parka"><li>Norrona</li></a>
            </div>
        <a href="#!/about"><li>About</li></a>
        <a href="#!/contact"><li>Contact</li></a>
    </div>
</nav>
