<section class="cart-container">
    <h1>Shopping Cart</h1>

    <!-- SHOPPING CART NG-REPEAT -->

        <div ng-repeat="item in $ctrl.cart" class="item-container">
            <img ng-src="{{ item.id.imageUrl }}"/>
            <div class="desc-container">
                <p class="desc-product">{{item.id.name}}</p>
                <p class="counter">
                    <i class="material-icons" ng-click="$ctrl.countUp(item)">keyboard_arrow_up</i>
                        <span>{{ item.quantity }}</span>
                    <i class="material-icons" ng-click="$ctrl.countDown(item)">keyboard_arrow_down</i>
                </p>
                <p>${{ item.total }}</p>
            </div>
        </div>

    <!-- SHOPPING CART TOTAL -->
    <div class="total-container">
        <ul>
            <li>Subtotal {{ $ctrl.subTotal.total | currency }}</li>
            <li>Tax {{ $ctrl.tax | currency}}</li>
            <li>Total {{ $ctrl.finalTotal | currency }}</li>
        </ul>
        <button type="button" name="checkout">Checkout <i class="material-icons">check</i></button>
    </div>
</section>
