<section class="cart-container">
    <h1>Shopping Cart</h1>

    <!-- SHOPPING CART NG-REPEAT -->

        <div ng-repeat="item in $ctrl.cart track by $index" class="item-container">
            <img ng-src="{{ item.id.imageUrl }}"/>
            <div class="desc-container">
                <p>{{item.id.name}}</p>
                <p>items {{ item.quantity }}</p>
                <p>${{ item.total }}</p>
            </div>
        </div>

    <!-- SHOPPING CART TOTAL -->
    <div class="total-container">
        <ul>
            <li>Subtotal {{ $ctrl.cartTotal.total }}</li>
            <li>Tax {{ $ctrl.tax }}</li>
            <li>Total {{ $ctrl.cartTotal.total }}</li>
        </ul>
    </div>
</section>
