<section class="cart-container">
    <h1>Shopping Cart</h1>

    <!-- SHOPPING CART NG-REPEAT -->

        <!-- <div ng-repeat="item in $ctrl.cart" class="item-container">
            <img ng-src="{{ item.imageUrl }}"/>
            <div class="desc-container">
                <p>{{item.description}}</p>
                <p>quantity {{ item.quantity }}</p>
                <p>${{ item.price }}</p>
            </div>
        </div> -->
        <div class="">
            {{ $ctrl.cart }}
        </div>

    <!-- SHOPPING CART TOTAL -->
    <div class="total-container">
        <ul>
            <li>Subtotal {{ $ctrl.subtotal }}</li>
            <li>Tax {{ $ctrl.tax }}</li>
            <li>Total {{ $ctrl.total }}</li>
        </ul>
    </div>
</section>
