<div class="hero-image">
    <!-- TITLE COMPONENT -->
    <title-component></title-component>
</div>

<!-- SEARCH AREA -->
<div class="search-sort">
    <div class="sort-container">
        <span class="sort-by">Sort By:
    </span>
        <!-- <select class="product-select" ng-model="$ctrl.order">
            <option value="name">Name *</option>
            <option value="price">Price Low to High *</option>
            <option value="-price">Price High to Low *</option>
        </select> -->
        <div class="sort-drop">
            <span>v</span>
            <ul class="product-select" ng-model="$ctrl.order">
                <li value="name">Name</li>
                <li value="price">Price Low to High</li>
                <li value="-price">Price High to Low</li>
            </ul>
        </div>

    </div>
    <p class="input-container">
        <input type="text" placeholder="Search" ng-model="search">
        <img ng-src="./img/search-outline.svg"/>
    </p>
</div>

<h1 class="jackets-title">Jackets</h1>

<!-- JACKETS CONTAINER/PRODUCTS -->
<section class="jackets-container">
        <div ng-repeat="jacket in $ctrl.jacketList | filter:search | orderBy:$ctrl.order" class="shop-items-container jacket-list-item">
            <a href="#!/jackets/{{ jacket.id }}"><img ng-src="{{ jacket.imageUrl }}"/></a>
            <div class="info-container">
                <h3>{{ jacket.name }}</h3>
                <p>{{ jacket.price | currency }}</p>
            </div>
        </div>
</section>
