<div class="hero-image">
    <!-- TITLE COMPONENT -->
    <title-component></title-component>
</div>

<div class="search-title">
    <i class="material-icons">location_searching</i>
    <p>Search &amp; Sort</p>
</div>
<!-- SEARCH AREA -->
<div class="search-sort">
    <!-- DROP DOWN CLICK DIRECTIVE FOR SORT -->
    <div class="sort-container" sort-click>
        <span class="sort-by">Sort By:</span>
        <i class="material-icons menu-carrot">keyboard_arrow_down</i>

        <div class="sort-drop">
            <ul class="product-select">
                <li ng-click="$ctrl.sortBy('name')">Name</li>
                <li ng-click="$ctrl.sortBy('price')">Price Low to High</li>
                <li ng-click="$ctrl.sortBy('-price')">Price High to Low</li>
            </ul>
        </div>

    </div>
    <p class="input-container">
        <input type="text" placeholder="Search" ng-model="search">
        <img ng-src="./img/search-outline.svg"/>
    </p>
</div>

<h1 class="jackets-title">Jackets</h1>

<!-- JACKETS CONTAINER/PRODUCTS -->
<section class="jackets-container">
        <div ng-repeat="jacket in $ctrl.jacketList | filter:search | orderBy:$ctrl.newOrderBy" class="shop-items-container jacket-list-item">
            <a href="#!/jackets/{{ jacket.id }}"><img ng-src="{{ jacket.imageUrl }}"/></a>
            <div class="info-container">
                <h3>{{ jacket.name }}</h3>
                <p>{{ jacket.price | currency }}</p>
            </div>
        </div>
</section>
