<section class="about">
    <div class="pic-container">
        <img ng-src="./img/joshua-earle-64814.jpg" alt="picture of a guy in the mountains with a parka jacket" style="width:100%;">
    </div>
    <div class="wrapper">
        <h1>The vision of Konsumer</h1>
        <div class="line"></div>
        <p>Birthed out of a passion for the outdoor sports lifestyle, it's our mission to get you into the best gear possible, while giving you the best online shopping experience. We truly do hope you have the best experience possible and if you need any inspiration along the way, please feel free to search our site for tips and tricks, as well as stories of the crew that works here.</p>
        <div class="line2"></div>
        <section class="icon-section">
            <div>
                <i class="fa fa-tree" aria-hidden="true"></i>
                <q>"Our Mission is to get you into the best gear possible"</q>
            </div>
            <div>
                <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                <q>"The best possible online shopping experience"</q>
            </div>
            <div>
                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                <q>"To get you outside where your passion is"</q>
            </div>
        </section>
    </div>


</section>
